JWT_SECRET=
GITHUB_TOKEN=
NEXT_PUBLIC_GITHUB_OWNER=
NEXT_PUBLIC_GITHUB_REPO=
NEXT_PUBLIC_AUTOGEN_URL=
NEXT_PUBLIC_AUTOGEN_GITHUB_OWNER=
NEXT_PUBLIC_AUTOGEN_GITHUB_REPO=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
NEXT_PUBLIC_BASE_URL=
VERCEL_TOKEN=
VERCEL_AUTOGEN_PROJECT_ID=
AUTOGEN_DRAFT_SECRET=
GMAIL_USER=
GMAIL_APP_PASSWORD=